/*TABLET*/
@media only screen and (max-width: 768px) {

    /* NAVIGATIE*/
    nav {
        margin: 0;
    }

    nav>a:nth-child(1) {
        display: block;
        float: right;
        font-size: 50px;
        margin: 30px 25px 0 0;
        text-decoration: none;
        color: #6B9AC4;
    }

    nav ul.active {
        display: none;
    }


    nav ul li {
        width: 100%;
        text-align: right;
        background-color: white;
    }

    nav ul li a{
        margin-right: 30px;
    }

    nav img {
        width: 150px;
        margin-left: 20px;
        margin-top: 25px;
    }

    nav ul {
        margin: 0;
    }


    @media only screen and (max-width: 576px) {

        /*NAVIGATIE*/
        nav {
            margin: 0;
        }

        nav>a:nth-child(1) {
            display: block;
            float: right;
            font-size: 50px;
            margin: 5px 15px 0 0;
        }

        nav ul.active {
            display: none;
        }


        nav ul li {
            width: 100%;
            text-align: right;
            font-size: 15px;
        }

        nav img {
            width: 150px;
            margin-left: 20px;
            margin-top: 25px;
        }

        nav ul button {
            font-size: 10px;
        }



    }
}